<!-- Liquid template version: 0.4.6 -->
<div>
  <table class="grid dict">
        {% if DiagnosticReport.id.exists() %}
        <tr>
            <th scope="row"><b>Id: </b></th>
            <td>{{DiagnosticReport.id}}</td>
        </tr>
        {% endif %}

        {% if DiagnosticReport.code.exists() %}
          <tr>
            <th scope="row"><b>Code: </b></th>
            <td>{% include codeable-concept.html cc= DiagnosticReport.code %}</td>
          </tr>
        {% endif %}

        {% for identifier in DiagnosticReport.identifier %}
        <tr>
            <th scope="row">
                <b>
                    {% if identifier.type.coding.exists() %}
                        {% if identifier.type.coding.display.exists() %}
                            {{identifier.type.coding.display}}{% if identifier.assigner.display.exists() %} ({{identifier.assigner.display}}){% endif %} Identifier:
                        {% else %}
                            {{identifier.type.coding.code}}{% if identifier.assigner.display.exists() %} ({{identifier.assigner.display}}){% endif %} identifier:
                        {% endif %}
                    {% elsif identifier.use.exists() %}
                        {{identifier.use}}
                    {% else %}
                        Identifier:
                    {% endif %}
                </b>
            </th>
            <td>
              <p style="margin-bottom: 5px;">
                {% if identifier.system.exists() %}
                  <span>{{identifier.system}}: </span>
                {% endif %}
                {% if identifier.value.exists() %}
                  <span>{{identifier.value}}</span>
                {% endif %}
              </p>
            </td>
        </tr>
        {% endfor %}
       
        {% if DiagnosticReport.basedOn.exists() %}
        <tr>
            <th scope="row"><b>BasedOn: </b></th>
            <td>{{DiagnosticReport.basedOn}}</td>
        </tr>
        {% endif %}

        {% if DiagnosticReport.status.exists() and DiagnosticReport.status.value != 'active' %}
        <tr>
            <th scope="row"><b>Status: </b></th>
            <td>{{DiagnosticReport.status.value}}</td>
        </tr>
        {% endif %}

        {% if DiagnosticReport.experimental.exists() and DiagnosticReport.experimental.value = 'true' %}
        <tr>
            <th scope="row"><b>Experimental: </b></th>
            <td>{{DiagnosticReport.experimental.value}}</td>
        </tr>
        {% endif %}
        
        {% if DiagnosticReport.category.exists() %}
        <tr>
            <th scope="row"><b>Category: </b></th>
            <td>
              {% for category in DiagnosticReport.category %}
                {%include codeable-concept.html cc=category %}
              {% endfor %}
            </td>
        </tr>
        {% endif %}
        
        {% if DiagnosticReport.subject.exists() %}
        <tr>
            <th scope="row"><b>Subject: </b></th>
            {% if DiagnosticReport.subject is Reference %}
              <td>{{DiagnosticReport.subject}} </td>
            {% endif %}
        </tr>
        {% endif %}

        {% if DiagnosticReport.effective.exists() %}
        <tr>
            <th scope="row"><b>Period: </b></th>
            <td>{{DiagnosticReport.effective}}</td>
        </tr>
        {% endif %}
        
        {% if DiagnosticReport.issued.exists() %}
        <tr>
            <th scope="row"><b>Issued: </b></th>
            <td>{{DiagnosticReport.issued}}</td>
        </tr>
        {% endif %}

        {% if DiagnosticReport.performer.exists() %}
        <tr>
            <th scope="row"><b>Performer: </b></th>
            <td>
            {% for performer in DiagnosticReport.performer %}
              <p>{{performer}}</p>
            {% endfor %}
            </td>
        </tr>
        {% endif %}

        {% if DiagnosticReport.resultsInterpreter.exists() %}
        <tr>
            <th scope="row"><b>Results Interpreter: </b></th>
            <td>
            {% for resultsInterpreter in DiagnosticReport.resultsInterpreter %}
              <p>{{resultsInterpreter}}</p>
            {% endfor %}
            </td>
        </tr>
        {% endif %}

        {% if DiagnosticReport.study.exists() %}
          <tr>
              <th scope="row"><b>Studies: </b></th>
                <td>
                <ul>
                  {% for study in DiagnosticReport.study %}
                    <li>{{study}}</li>
                  {% endfor %}
                </ul>
              </td>
          </tr>
        {% endif %}

        {% if DiagnosticReport.composition.exists() %}
        <tr>
            <th scope="row"><b>Composition: </b></th>
              <td>
              {{DiagnosticReport.composition}}
            </td>
        </tr>
        {% endif %}

        {% if DiagnosticReport.result.exists() %}
        <tr>
            <th scope="row"><b>Results interpreter: </b></th>
              <td>
                <ul>
                  {% for result in DiagnosticReport.result %}
                  <li>{{result}}</li>
                  {% endfor %}
                </ul>
            </td>
        </tr>   
        {% endif %}

        {% if DiagnosticReport.note.exists() %}
          {% for note in DiagnosticReport.note %}
          <tr>
              <th scope="row"><b>Note: </b></th>
              <td>
                {% include annotation.html annotation=note %}
              </td>
          </tr>   
          {% endfor %}      
        {% endif %}


        {% if DiagnosticReport.conclusion.exists() %}
          <tr>
              <th scope="row"><b>Conclusion: </b></th>
              <td>
                  {{conclusion}}
              </td>
          </tr>   
        {% endif %}
        
        {% if DiagnosticReport.presentedForm.exists() %}
          <tr>
              <th scope="row"><b>Presented form: </b></th>
              <td>
                <ul>
                  {% for presentedForm in DiagnosticReport.presentedForm %}
                  <li>{{presentedForm}}</li>
                  {% endfor %}
                </ul>
              </td>
          </tr>        
        {% endif %}
  </table>
</div>
